In [56]:
import random
import pandas as pd
import csv
import time
import datetime

In [91]:
ina_toy_data = [random.random() * 500.0, 5.0, 34534679852.234234234]

In [92]:
print ina_toy_data

[46.72623162403067, 5.0, 34534679852.23424]

In [96]:
newDF = pd.DataFrame(columns=['mA','V','time'])

In [97]:
for i in list(range(10)):
    ina_toy_data = [random.random() * 500.0, 5.0, 34534679852.234234234]
    #print ina_toy_data
    newDF = newDF.append({'mA' : ina_toy_data[0] , 'V' : ina_toy_data[1], 'time': ina_toy_data[2]},ignore_index=True)

In [98]:
newDF

           mA    V          time
0  361.070012  5.0  3.453468e+10
1  147.912663  5.0  3.453468e+10
2  170.783930  5.0  3.453468e+10
3  408.733858  5.0  3.453468e+10
4   23.683425  5.0  3.453468e+10
5   45.982692  5.0  3.453468e+10
6  191.007515  5.0  3.453468e+10
7  314.799678  5.0  3.453468e+10
8  281.083128  5.0  3.453468e+10
9  446.400033  5.0  3.453468e+10

In [75]:
int(time.time())

1566569057

In [88]:
fileName = 'data/ina219'+str(datetime.date.today())+'-'+str(int(time.time()))+'.csv'
fileName

'ina219/data/ina2192019-08-23-1566569163.csv'

In [89]:

#save data to file
# check if the file already exists
try:
	with open(fileName) as csvfile:
		print("This file already exists!")
except:
	newDF.to_csv(fileName, sep=',',index=False)

In [90]:
len(newDF)

10

In [99]:
for i in list(range(2)):
    print i

0
1